
@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}
button{
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input[type="text"] {
  width: 200px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input label {
  margin-right: 10px;
}

.input input[type="text"] {
  margin-right: 10px;
}

.input button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input button:hover {
  background-color: #45a049;
}

#greeting {
  margin-bottom: 20px;
  font-size: 18px;
  color: #555;
}

#result {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.route-info {
  font-weight: bold;
}

#studentDiscount {
  margin-left: 10px;
}

#map {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  /* Adjust styles for smaller screens */
  body {
    padding: 10px;
  }
}